<div role="tabpanel"
     id="Result"
     aria-labelledby="history-tab"
     ng-switch-when="1"
     md-swipe-left="next()"
     md-swipe-right="previous()"
     layout="row" layout-align="center center">
    <md-card flex-gt-sm="90" flex-gt-md="80">
        <md-card-content>
            <h2>History</h2>
            <md-list>
                <md-item ng-repeat="item in vm.history">
                    <md-item-content>
                        <div class="md-tile-left inset" hide-sm>
                        </div>
                        <div class="md-tile-content">
                            <h2>{{ item }}</h2>
                        </div>
                    </md-item-content>
                    <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                    <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                </md-item>
                <md-divider></md-divider>
            </md-list>
        </md-card-content>
    </md-card>
</div>

