<!DOCTYPE html>
<html lang="en" ng-app="twitter_sentiment">
<head>
    <title>Twitter Sentiment Analysis</title>
    <base href="/"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'stylesheets.html' %}
</head>
<body ng-controller="IndexController as vm" ng-cloak>

<div layout="column" class="relative" layout-fill role="main">
    {% include 'navbar.html' %}
    <md-content flex md-scroll-y>
        <div layout="column" layout-fill layout-padding>
            <div class="inset" hide-sm></div>
                <ng-switch on="vm.selectedIndex" class="tabpanel-container">
                    {% include 'result.html' %}
                    {% include 'history.html' %}
                </ng-switch>
            </div>
        </div>
    </md-content>
</div>
{% include 'javascripts.html' %}
</body>
</html>
