{% load compress %}
{% load staticfiles %}

{% compress js %}
    <!-- Useful Libraries -->
    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/alertify/alertify.js' %}"></script>

    <!-- Angular.js Libraries -->
    <script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-animate/angular-animate.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-messages/angular-messages.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-aria/angular-aria.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>

    <!-- Angular Material Libraries -->
    <script type="text/javascript" src="{% static 'bower_components/angular-material/angular-material.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-material-icons/angular-material-icons.js' %}"></script>

    <!-- Twitter Sentiment Angular Main Modules -->
    <script type="text/javascript" src="{% static 'javascripts/twitter_sentiment.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/twitter_sentiment.config.js' %}"></script>
{#    <script type="text/javascript" src="{% static 'javascripts/twitter_sentiment.routes.js' %}"></script>#}

    <!-- Twitter Sentiment Angular Sub Modules -->
    <script type="text/javascript" src="{% static 'javascripts/utils/untils.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/utils/services/alertify.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/utils/services/transfer.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/layout/controllers/index.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/search/search.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/search/services/search.service.js' %}"></script>

{% endcompress %}
