{# TODO: Use the commented element to build register and login page #}
{#<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">#}
{#    <ng-md-icon icon="add"></ng-md-icon>#}
{#</md-button>#}
<md-toolbar ng-show="!showSearch">
    <div class="md-toolbar-tools">
        <h3>
            Twitter Sentiment
        </h3>
        <span flex></span>
        <md-button aria-label="Search" ng-click="showSearch = !showSearch">
            <ng-md-icon icon="search"></ng-md-icon>
        </md-button>
    </div>
    <md-tabs md-stretch-tabs class="md-primary" md-selected="data.selectedIndex">
        <md-tab id="result-tab" aria-controls="result-tab-content">
            Search Result
        </md-tab>
        <md-tab id="history-tab" aria-controls="history-tab-content">
            Search History
        </md-tab>
    </md-tabs>
</md-toolbar>
<md-toolbar class="md-hue-1" ng-show="showSearch">
    <div class="md-toolbar-tools">
        <md-button ng-click="showSearch = !showSearch" aria-label="Back">
            <ng-md-icon icon="arrow_back"></ng-md-icon>
        </md-button>
        <md-input-container md-theme="input" flex>
            <label>&nbsp;</label>
            <input ng-model="search.who" placeholder="enter search">
        </md-input-container>
        <md-button aria-label="Search" ng-click="showSearch = !showSearch">
            <ng-md-icon icon="search"></ng-md-icon>
        </md-button>
    </div>
</md-toolbar>
