{# TODO: Use the commented element to build register and login page #}
{#<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">#}
{#    <ng-md-icon icon="add"></ng-md-icon>#}
{#</md-button>#}
<md-toolbar ng-show="!vm.showSearch">
    <div class="md-toolbar-tools">
        <h3>
            <b>Tweet</b>Sentiment
        </h3>
        <span flex></span>
        <md-button aria-label="Search" ng-click="vm.showSearch = !vm.showSearch">
            <ng-md-icon icon="search"></ng-md-icon>
        </md-button>
    </div>
    <md-tabs md-stretch-tabs="always" flex class="md-primary" md-selected="vm.selectedIndex">
        <md-tab id="result-tab" flex aria-controls="result-tab-content">
            <md-tab-label>Search Result</md-tab-label>
        </md-tab>
        <md-tab id="history-tab" flex aria-controls="history-tab-content">
            <md-tab-label>Search History</md-tab-label>
        </md-tab>
    </md-tabs>
</md-toolbar>
<md-toolbar class="md-hue-1" ng-show="vm.showSearch">
    <div class="md-toolbar-tools">
        <md-button ng-click="vm.showSearch = !vm.showSearch" aria-label="Back">
            <ng-md-icon icon="arrow_back"></ng-md-icon>
        </md-button>
        <md-input-container flex>
            <label>&nbsp;</label>
            <input ng-model="vm.keyword" placeholder="Enter Keyword" ng-keypress="vm.keyPressed($event)">
        </md-input-container>
        <md-button aria-label="Search" ng-click="vm.search()">
            <ng-md-icon icon="search"></ng-md-icon>
        </md-button>
    </div>
</md-toolbar>
