<div class="ui bottom attached segment pushable two column centered grid" ng-controller="ShowTweetController as vm">
  <div class="pusher">
    <div class="ui basic segment">
      <div class="ui center aligned grid">
        <div class="ui cards column" ng-cloak>
          <div class="card" ng-repeat="tweet in vm.tweets">
            <div class="content">
              <div class="header"> @Jack </div>
              <div class="description">
                Hahahaha, THis movie is soooooooooooo great
              </div>
            </div>
            <div class="ui bottom attached green button" disabled="true">
              Positive
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
